div{
    text-align: center;
}
h2{
    color: white;
    text-shadow: 0 0 5px;
}


        .doan1 {
            color: red;
        }

        .doan2 {
            color: blue;
        }

        .doan3 {
            color: green;
        }

        strong {
            color: brown;
        }